body{
  height: 100vh;
  background: #000;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  
}

.seek-ring-play {
  transition: left 0.5s ease-in-out; /* Example transition */
}

.seek-ring-pause {
  transition: left 0.5s ease-in-out; /* Example transition */
}

.loader {
border: 2px solid rgba(255, 255, 255, 0.3);
border-radius: 50%;
border-top: 2px solid white;
width: 23px;
height: 23px;
animation: spin 1s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}


.logintoast {
  width: 250px;
        height: 50px;
        font-size: 13px;
        padding: 10px;
        margin: 10px 80px;
}




